html
  font-size: 10px
body
  background: #FFF
  // +css-lock(16, 30, 600, 1280)
  line-height: 1.4
  font-family: regular
  margin-top: 80px
  +r(1300)
    margin-top: 109px
  +r(700)
    margin-top: 71px
  // +miw(320)

::selection 
  background: #ccc
::-moz-selection 
  background: #ccc
::-webkit-selection 
  background: #ccc
  color:#fff

.clearfix::after
  display: table
  content: ""
  clear: both

a
  text-decoration: none
  color: #000

.container
  +maw(1280)
  margin: 0 auto
  +r(1300)
    padding-left: 32px
    padding-right: 32px
  +r(1024)
    padding-left: 24px
    padding-right: 24px
  +r(375)
    padding-left: 20px
    padding-right: 20px
/* ============================================================================
 * START Product item
 * ============================================================================ */
.products-whole-wrapper
  background-color: $gray9
  padding-top: 76px
  padding-bottom: 110px
  +r(1024)
    padding-top: 60px
    padding-bottom: 20px
  +r(550)
    padding-top: 40px
.products-wrapper
  display: flex
  flex-wrap: wrap
  justify-content: space-between
  +r(644)
    justify-content: center
.product-item
  margin-bottom: 50px
  position: relative
  width: 290px
  height: 390px
  border-radius: 7px
  padding: 20px
  border: 1px solid $gray7
  display: flex
  flex-direction: column
  overflow: hidden
  +trans
  +r(1024)
    margin-bottom: 40px
  +r(375)
    margin-bottom: 30px
  &:hover
    background-color: $green1
    .product-item__header
      color: #fff
    svg
      margin-bottom: 100px
      circle
        fill: #fff
      path
        fill: #3ECC29
    .product-item__image
      bottom: -100%
  svg
    height: 30px
    width: 30px
    align-self: flex-end
    margin-bottom: 25px
    +trans
    circle
      +trans
    path
      +trans
  .product-item__header
    +fm
    font-size: 20px
    +trans
  .product-item__image
    height: 200px
    width: 200px
    position: absolute
    bottom: 0
    left: 0
    width: 100%
    background-repeat: no-repeat
    background-size: cover
    height: 160px
    +trans
/* ============================================================================
 * END Product item
 * ============================================================================ */
/* ============================================================================
 * START Advantages
 * ============================================================================ */
.advantages
  display: flex
  flex-wrap: wrap
  +r(900)
    justify-content: space-between
  +r(504)
    justify-content: center
  .advantage
    width: 290px
    margin-bottom: 100px
    +r(1300)
      width: 220px
    .advantage__img
      height: 50px
      margin-bottom: 30px
      background-size: contain
      background-repeat: no-repeat
    .advantage__header
      +fs
      font-size: 18px
/* ============================================================================
 * END Advantages
 * ============================================================================ */
/* ============================================================================
 * START Forms
 * ============================================================================ */
\::-webkit-input-placeholder
  color: $gray4

\:-ms-input-placeholder
  color: $gray4

\::-moz-placeholder
  color: $gray4
  opacity: 1

\:-moz-placeholder
  color: $gray4
  opacity: 1
/* ============================================================================
 * END Forms
 * ============================================================================ */
/* ============================================================================
 * START UL
 * ============================================================================ */
ul
  li
    position: relative
    margin-bottom: 30px
    &:before
      content: ''
      position: absolute
      left: -38px // 28 + 8
      top: 5px
      height: 8px
      width: 8px
      border-radius: 50px
      background-color: $green1
    &:after
      content: ''
      position: absolute
      left: -42px
      top: 1px
      height: 16px
      width: 16px
      border-radius: 50px
      background-color: transparent
      border: 1px solid $green1
/* ============================================================================
 * END UL
 * ============================================================================ */
