html
  font-size: 10px
body
  background: #FFF
  // +css-lock(16, 30, 600, 1280)
  line-height: 1.4
  +fr
  margin-top: 80px
  +fr
  +r(1300)
    margin-top: 109px
  +r(700)
    margin-top: 71px
  // +miw(320)

::selection 
  background: #ccc
::-moz-selection 
  background: #ccc
::-webkit-selection 
  background: #ccc
  color:#fff

.clearfix::after
  display: table
  content: ""
  clear: both

.overflow-hidden
  overflow: hidden

a
  text-decoration: none
  color: #000

.container
  +maw(1280)
  margin: 0 auto
  width: 100%
  +r(1300)
    padding-left: 32px
    padding-right: 32px
  +r(1024)
    padding-left: 24px
    padding-right: 24px
  +r(375)
    padding-left: 20px
    padding-right: 20px

h3.h3
  +h3desktop
  margin-top: 40px
  margin-bottom: 30px
  +r(1024)
    +h3tablet
  +r(375)
    +h3mobile
    margin-top: 30px
    margin-bottom: 25px

.white-bg
  background-color: #fff
.gray-bg
  background-color: $gray9

.hidden
  display: none
.visuallyhidden
  opacity: 0

/* ============================================================================
 * START Product item
 * ============================================================================ */
.products-whole-wrapper
  background-color: $gray9
  padding-top: 76px
  padding-bottom: 110px
  +r(1024)
    padding-top: 60px
    padding-bottom: 20px
  +r(550)
    padding-top: 40px
  .container
    overflow: hidden
.products-wrapper
  display: flex
  flex-wrap: wrap
  justify-content: flex-start
  margin-left: -20px
  margin-right: -20px
  +r(684)
    justify-content: center
.product-item
  margin-bottom: 50px
  position: relative
  width: 290px
  height: 390px
  border-radius: 7px
  padding: 20px
  border: 1px solid $gray7
  display: flex
  flex-direction: column
  overflow: hidden
  margin-left: 20px
  margin-right: 20px
  +trans
  +r(1024)
    margin-bottom: 40px
  +r(375)
    margin-bottom: 30px
  &:hover
    background-color: $green1
    .product-item__header
      color: #fff
    svg
      margin-bottom: 100px
      circle
        fill: #fff
      path
        fill: #3ECC29
    .product-item__image
      bottom: -100%
  svg
    height: 30px
    width: 30px
    align-self: flex-end
    margin-bottom: 25px
    +trans
    circle
      +trans
    path
      +trans
  .product-item__header
    +fm
    font-size: 20px
    +trans
  .product-item__image
    height: 200px
    width: 200px
    position: absolute
    bottom: 0
    left: 0
    width: 100%
    background-repeat: no-repeat
    background-size: cover
    height: 160px
    +trans
/* ============================================================================
 * END Product item
 * ============================================================================ */
/* ============================================================================
 * START Advantages
 * ============================================================================ */
.advantages
  display: flex
  flex-wrap: wrap
  +r(900)
    justify-content: space-between
  +r(504)
    justify-content: center
  .advantage
    width: 290px
    margin-bottom: 100px
    +r(1300)
      width: 220px
    +r(1024)
      margin-bottom: 80px
    .advantage__img
      height: 50px
      margin-bottom: 30px
      background-size: contain
      background-repeat: no-repeat
    .advantage__header
      +fs
      font-size: 18px
  .advantage__body
    color: $gray2
    +fr
    line-height: 1.45
    font-size: 16px
    margin-top: 20px
    +r(375)
      font-size: 14px
/* ============================================================================
 * END Advantages
 * ============================================================================ */
/* ============================================================================
 * START Forms
 * ============================================================================ */
\::-webkit-input-placeholder
  color: $gray4

\:-ms-input-placeholder
  color: $gray4

\::-moz-placeholder
  color: $gray4
  opacity: 1

\:-moz-placeholder
  color: $gray4
  opacity: 1
/* ============================================================================
 * END Forms
 * ============================================================================ */
/* ============================================================================
 * START UL
 * ============================================================================ */
ul
  li
    position: relative
    margin-bottom: 30px
    &:before
      content: ''
      position: absolute
      left: -38px // 28 + 8
      top: 5px
      height: 8px
      width: 8px
      border-radius: 50px
      background-color: $green1
    &:after
      content: ''
      position: absolute
      left: -42px
      top: 1px
      height: 16px
      width: 16px
      border-radius: 50px
      background-color: transparent
      border: 1px solid $green1
header,
footer,
.container.dots,
.nav-wrapper
  ul
    li
      margin-bottom: 0
      &:before,
      &:after
        display: none
/* ============================================================================
 * END UL
 * ============================================================================ */
/* ============================================================================
 * START Breadcrambs
 * ============================================================================ */
.breadcrambs
  color: $gray3
  +h4desktop
  padding-top: 40px
  margin-bottom: 10px
  +r(1024)
    +h4tablet
  +r(375)
    padding-top: 30px
  a
    color: $gray3
    +h4desktop
h1.breadcrambs-h1
  +h1desktop
  padding-bottom: 40px
  margin-bottom: 60px
  line-height: 1.45
  +maw(730)
  +r(1024)
    +h1tablet
    max-width: 100%
  +r(375)
    +h1mobile
    margin-bottom: 30px
    padding-bottom: 30px
/* ============================================================================
 * END Breadcrambs
 * ============================================================================ */
.subheader
  +quotedesktop
  margin-bottom: 40px
  max-width: 730px
  +r(1024)
    +quotetablet
    max-width: 707px
    margin-bottom: 60px
  +r(768)
    max-width: 100%
  +r(375)
    +quotemobile
    margin-bottom: 20px
/* ============================================================================
 * START 2 image wrapper
 * ============================================================================ */
.img-2-wrapper
  display: flex
  justify-content: space-between
  margin-top: 80px
  margin-bottom: 80px
  padding-left: 110px
  padding-right: 110px
  +r(1300)
    padding-left: 0
    padding-right: 0
  +r(1024)
    margin-top: 60px
    margin-bottom: 60px
  +r(768)
    flex-direction: column
    margin-bottom: 0
    margin-top: 40px
    margin-bottom: 40px
  .img
    width: 510px
    height: 360px
    background-size: cover
    background-position: center center
    background-repeat: no-repeat
    &:last-of-type
      +r(768)
      margin-bottom: 0
    +r(1300)
      width: 45%
      height: 330px
    +r(768)
      width: 100%
      height: 360px
      margin-bottom: 30px
    +r(375)
      height: 240px
/* ============================================================================
 * END 2 image wrapper
 * ============================================================================ */
/* ============================================================================
 * START Slider run
 * ============================================================================ */
.run-slider-wrapper
  margin-bottom: 120px
  +r(1024)
    margin-bottom: 160px
  +r(375)
    margin-bottom: 100px
  .link-wrapper
    padding-left: 110px
    padding-right: 110px
    +r(1024)
      padding-left: 43px
      padding-right: 43px
    +r(950)
      padding-left: 0
      padding-right: 0
    .runSlider
      position: relative
      display: block
      height: 480px
      width: 840px
      background-repeat: no-repeat
      background-size: cover
      background-position: center center
      +r(950)
        width: 100%
      +r(768)
        height: 420px
      +r(375)
        height: 220px
      &:before
        position: absolute
        content: ''
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1))
        height: 100%
        width: 100%
        right: 0
        top: 0
        bottom: 0
        left: 0
        +trans
      &:after
        content: ''
        position: absolute
        height: 480px
        width: 840px
        background-color: $gray7
        right: -10px
        top: -10px
        z-index: -1
        +r(950)
          height: 100%
          width: 100%
      &:hover
        &:before
          background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4))
      .info-wrapper
        position: absolute
        right: 40px
        top: 40px
        display: flex
        align-items: center
        .num
          color: #ffffff
          font-size: 16px
          +fm
          margin-right: 25px
          +r(375)
            font-size: 14px
            margin-right: 10px
        .more
          height: 50px
          width: 50px
          display: flex
          justify-content: center
          align-items: center
          background-color: #fff
          border-radius: 50px
    p
      color: $gray2
      margin-top: 15px
      font-size: 13px
      line-height: 1.45
      +fr
      +r(768)
        margin-top: 20px
/* ============================================================================
 * END Slider run
 * ============================================================================ */
/* ============================================================================
 * START Slider popup
 * ============================================================================ */
.hidden-slider-popup
  z-index: 100
  position: fixed
  top: 0
  bottom: 0
  left: 0
  right: 0
  background-color: rgba(0, 0, 0, 0.8)
  padding-top: 120px
  padding-top: 100px
  // +r(1024)
    // padding-top: 225px
  // +r(768)
    // padding-top: 290px
    // padding-top: 100px
  .container
    position: relative
  .hidden-slider-wrapper
    +r(1300)
      position: relative
    .slick-popup-slider
      width: 1080px
      height: 640px
      overflow: hidden
      margin-left: auto
      margin-right: auto
      box-sizing: border-box
      border: 5px solid #ffffff
      +r(1300)
        width: 780px
        height: 460px
      +r(870)
        width: 720px
        height: 420px
      +r(780)
        width: 100%
      +r(500)
        height: 290px
      +r(378)
        height: 190px
      .slide
        background-size: auto 100% 
        background-position: center center
        background-repeat: no-repeat
        height: 640px
        width: 100%
        +r(1300)
          width: 780px
          height: 460px
        +r(870)
          width: 720px
          height: 420px
        +r(500)
          width: 100%
          height: 290px
        +r(378)
          height: 190px
    .hidden-slick-btns-wrapper
      position: absolute
      width: 100%
      height: 70px
      margin-left: auto
      margin-right: auto
      top: 50%
      transform: translateY(-50%)
      +r(768)
        display: none
    .slick-prev,
    .slick-next
      height: 70px
      width: 70px
      background-color: #fff
      border-radius: 50px
      z-index: 1
    .slick-next
      right: 0
      +r(780)
        right: 16px
      &:before
        content: ''
        background-image: url('../img/hiddenslidernext.png')
        background-size: cover
        background-position: center center
        background-repeat: no-repeat
        height: 27px
        width: 14.44px
        right: 25px
        top: 22px
        position: absolute
        +trans
      &:hover
        &:before
          background-image: url('../img/hiddenslidernextgreen.png')
    .slick-prev
      left: 0
      +r(780)
        left: 16px
      &:before
        content: ''
        background-image: url('../img/hiddensliderbefore.png')
        background-size: cover
        background-position: center center
        background-repeat: no-repeat
        height: 27px
        width: 14.44px
        right: 30px
        top: 22px
        position: absolute
        +trans
      &:hover
        &:before
          background-image: url('../img/hiddensliderbeforegreen.png')
  .close-popup
    position: absolute
    right: 0
    top: -60px
    cursor: pointer
    +r(1300)
      right: 30px
      top: -90px
    +r(375)
      height: 16px
      width: 16px
      top: -60px
  .hidden-info-wrapper
    display: flex
    align-items: center
    justify-content: space-between
    color: #ffffff
    width: 1080px
    margin-left: auto
    margin-right: auto
    margin-top: 20px
    +r(1300)
      width: 780px
    +r(870)
      width: 720px
    +r(780)
      width: 100%
    +r(768)
      flex-direction: column-reverse
      align-items: flex-start
    p
      +fm
      font-size: 16px
      line-height: 1.45
      margin-right: 10px
    .num
      background-color: #fff
      color: $black2
      min-width: 110px
      height: 40px
      display: flex
      align-items: center
      justify-content: center
      border-radius: 40px
      +fm
      font-size: 16px
      line-height: 1.45
      +r(768)
        margin-bottom: 20px
      +r(375)
        font-size: 14px
/* ============================================================================
 * END Slider popup
 * ============================================================================ */