/* ============================================================================
 * FONTS
 * ============================================================================ */
+font(regular, 'Montserrat-Regular')
+font(medium, 'Montserrat-Medium')
+font(semibold, 'Montserrat-SemiBold')
+font(bold, 'Montserrat-Bold')

=fr
  font-family: regular, sans-serif
=fm
  font-family: medium, sans-serif
=fs
  font-family: semibold, sans-serif
=fb
  font-family: bold, sans-serif


=Menu_text_desktop
  font-family: bold
  font-size: 13px
  text-transform: uppercase
/* ============================================================================
 * COLORS
 * ============================================================================ */
$green1: #3ECC29
$green2: #00D242
$gray1: #595959
$gray2: #808080
$gray3: #A1A1A1
$gray6: #E1E1E1
$footer: #3C3C3C