/* ============================================================================
 * FONTS
 * ============================================================================ */
+font(regular, 'Montserrat-Regular')
+font(medium, 'Montserrat-Medium')
+font(semibold, 'Montserrat-SemiBold')
+font(bold, 'Montserrat-Bold')

=fr
  font-family: 'Montserrat', sans-serif
  font-weight: 400
=fm
  font-family: 'Montserrat', sans-serif
  font-weight: 500
=fs
  font-family: 'Montserrat', sans-serif
  font-weight: 600
=fb
  font-family: 'Montserrat', sans-serif
  font-weight: 700

=h1desktop
  +fm
  font-size: 48px
  line-height: 1
=textdesktop
  +fr
  font-size: 18px
  line-height: 1.2
=h2desktop
  +fm
  font-size: 36px
  line-height: 1
=buttontext
  +fs
  font-size: 14px
  line-height: 1
=h3desktop
  +fm
  font-size: 24px
  line-height: 1.2
=quotedesktop
  +fm
  font-size: 28px
  line-height: 1.2
=h4desktop
  +fm
  font-size: 14px
  line-height: 1
=h1tablet
  +fm
  font-size: 40px
  line-height: 1
=h4tablet
  +fm
  font-size: 14px
  line-height: 1.2
=quotetablet
  +fm
  font-size: 24px
  line-height: 1
=texttablet
  +fr
  font-size: 16px
  line-height: 1.2
=h3tablet
  +fm
  font-size: 20px
  line-height: 1.2
=h2tablet
  +fm
  font-size: 30px
  line-height: 1
=quotemobile
  +fm
  font-size: 16px
  line-height: 1.2
=textmobile
  +fr
  font-size: 14px
  line-height: 1.2
=h3mobile
  +fm
  font-size: 16px
  line-height: 1.2
=h1mobile
  +fm
  font-size: 28px
  line-height: 1.2
=h2mobile
  +fm
  font-size: 20px
  line-height: 1
=h4mobile
  +fm
  font-size: 13px
  line-height: 1.2
=menudesktop
  +fb
  font-size: 13px
  line-height: 1

=Menu_text_desktop
  +fb
  font-size: 13px
  text-transform: uppercase
/* ============================================================================
 * COLORS
 * ============================================================================ */
$green1: #3ECC29
$green2: #00D242
$green4: #00C838
$green5: #20AE0B
$gray1: #595959
$gray2: #808080
$gray3: #A1A1A1
$gray4: #BCBCBC
$gray5: #D1D1D1
$gray6: #E1E1E1
$gray7: #EDEDED
$gray9: #FBFBFB
$footer: #3C3C3C
$black2: #2D2D2D