section.slider-wrapper
  .slick.slick-main
    .slick__item-wrapper(style="background-image:url('img/slick-main/slickmain1.jpg')")
      .container
        h5.slick__text Производитель полимерной упаковки
    .slick__item-wrapper(style="background-image:url('img/slick-main/slickmain2.jpg')")
      .container
        h5.slick__text Собственное производство полного цикла
    .slick__item-wrapper(style="background-image:url('img/slick-main/slickmain3.jpg')")
      .container
        h5.slick__text Штат опытных сотрудников с многолетним стажем
    .slick__item-wrapper(style="background-image:url('img/slick-main/slickmain4.jpg')")
      .container
        h5.slick__text Высочайшее качество благодаря современному европейскому оборудованию
  .container.dots


