section.product-page-containers-wrapper
  .container
    h3.h3 Характеристики контейнеров:
    .table-block
      .table-wrapper
        table(cellpadding="15" width="100%")
          thead
            tr
              th Габаритные размеры дна, см
              th 60х60
              th 62,5х62,5
              th 72,5х72,5
              th 75х75
              th  80х80
              th 85х85
              th 90х90
              th 95х95
              th 100х100
          tbody
            tr
              td Плоская ширина контейнера, см 
              td 120
              td 125
              td 145
              td 150
              td 160
              td 170
              td 180
              td 190
              td 200
            tr
              td Высота загрузки для данного типоразмера, см (min-max)
              td 60-150
              td 60-155
              td 60-185
              td 60-190
              td 60-200
              td 60-215
              td 60-225
              td 60-240
              td 60-250
            tr
              td Диаметр загруженного контейнера, см
              td 77
              td 80
              td 93
              td 96
              td 102
              td 109
              td 115
              td 122
              td 128
            tr
              td Условный объем вместимости контейнера, м³
              td 0,3-0,7
              td 0,3-0,8
              td 0,4-1,1
              td 0,4-1,4
              td 0,5-1,6
              td 0,6-2,0
              td 0,6-2,3
              td 0,7-2,8
              td 0,8-3,0