section.product-page-containers-wrapper
  .container
    h3.h3 Характеристики контейнеров:
    .table-block
      .table-wrapper
        table(cellpadding='15' style='width: 100%')
          tbody
            tr
              td
                b
                  span(style='font-size: 14pt; line-height: 115%; font-family: Calibri, sans-serif;') &Rcy;&acy;&zcy;&mcy;&iecy;&rcy; &ocy;&scy;&ncy;&ocy;&vcy;&acy;&ncy;&icy;&yacy;, &scy;&mcy;
              td 75&khcy;75
              td 80&khcy;80
              td 85&khcy;85
              td 90&khcy;90
              td 95&khcy;95
              td 100&khcy;100
              td 105&khcy;105
              td 110&khcy;110
            tr
              td
                b
                  span(style='font-size: 14pt; line-height: 115%; font-family: Calibri, sans-serif;')
                    | &Pcy;&lcy;&ocy;&tcy;&ncy;&ocy;&scy;&tcy;&softcy;, &gcy;/&mcy;
                    sup 2
              td(colspan='8' rowspan='1')
                div(style='text-align: center;') 120 / 140 / 160 / 180 / 200
            tr
              td
                b
                  span(style='font-size: 14pt; line-height: 115%; font-family: Calibri, sans-serif;') &Vcy;&ycy;&scy;&ocy;&tcy;&acy; &zcy;&acy;&gcy;&rcy;&ucy;&zcy;&kcy;&icy;, &scy;&mcy;
              td(colspan='8' rowspan='1')
                p(align='center') &Ocy;&tcy; 50 &scy;&mcy; &dcy;&ocy; 250 &scy;&mcy;
            tr
              td
                b
                  span(style='font-size: 14pt; line-height: 115%; font-family: Calibri, sans-serif;') &Ucy;&pcy;&acy;&kcy;&ocy;&vcy;&kcy;&acy;
              td(colspan='8' rowspan='1')
                p(align='center') &Kcy;&icy;&pcy;&acy; &ocy;&tcy; 25 &dcy;&ocy; 50 &shcy;&tcy;.
                p(align='center') &Pcy;&ocy;&dcy;&dcy;&ocy;&ncy; &ocy;&tcy; 250 &dcy;&ocy; 500 &shcy;&tcy;.

        //- table(cellpadding="15" width="100%")
        //-   thead
        //-     tr
        //-       th Габаритные размеры дна, см
        //-       th 60х60
        //-       th 62,5х62,5
        //-       th 72,5х72,5
        //-       th 75х75
        //-       th  80х80
        //-       th 85х85
        //-       th 90х90
        //-       th 95х95
        //-       th 100х100
        //-   tbody
        //-     tr
        //-       td Плоская ширина контейнера, см 
        //-       td 120
        //-       td 125
        //-       td 145
        //-       td 150
        //-       td 160
        //-       td 170
        //-       td 180
        //-       td 190
        //-       td 200
        //-     tr
        //-       td Высота загрузки для данного типоразмера, см (min-max)
        //-       td 60-150
        //-       td 60-155
        //-       td 60-185
        //-       td 60-190
        //-       td 60-200
        //-       td 60-215
        //-       td 60-225
        //-       td 60-240
        //-       td 60-250
        //-     tr
        //-       td Диаметр загруженного контейнера, см
        //-       td 77
        //-       td 80
        //-       td 93
        //-       td 96
        //-       td 102
        //-       td 109
        //-       td 115
        //-       td 122
        //-       td 128
        //-     tr
        //-       td Условный объем вместимости контейнера, м³
        //-       td 0,3-0,7
        //-       td 0,3-0,8
        //-       td 0,4-1,1
        //-       td 0,4-1,4
        //-       td 0,5-1,6
        //-       td 0,6-2,0
        //-       td 0,6-2,3
        //-       td 0,7-2,8
        //-       td 0,8-3,0