section.product-page-slider-wrapper
  .container
    .link-wrapper
      a(href="#", title="title" style="background-image:url('img/slider/one.jpg')")#runSlider.runSlider
      p Двухстропный мягкий контейнер  при транспортировке евроцемента
