section.production-content-wrapper
  .white-bg
    .container
      p.breadcrambs Главная / Производство
      h1.breadcrambs-h1 Производство
  .gray-bg
    .container
      .subheader ООО «Борса» – Это современное производство полимерной продукции полного цикла. Мы изготавливаем полипропиленовые мешки, мягкие контейнеры, полиэтиленовую пленку — самые востребованные типы упаковки.
      .img-2-wrapper
        .img(style="background-image:url('img/prodaction1.jpg')")
        .img(style="background-image:url('img/prodaction2.jpg')")
      h3.h3 Этапы производства, которые реализованы на производственных площадках:
      .two-ul
        .ul-left.ul-both
          ul
            li растарка сырья;
            li подготовка и смешение сырья до требуемых параметров переработки;
            li производство ПП/ПЭ нити;
            li производство ПП/ПЭ ткани;
            li производство стропной ленты;
            li производство швейной нити;
            li производство полимерного шнура;
            li ламинирование ПП/ПЭ ткани;
            li раскрой и комплектовка полуфабрикатов;
            li нанесение флексографической печати;
        .ul-right.ul-both
          ul
            li производство рукавной пленки;
            li сварка/формирование вкладыша;
            li пошив готового изделия;
            li упаковка готового изделия;
            li регрануляция технологических отходов.
      .text-wrapper
        p Многие производители мягкой тары работают по стандартным позициям, которые были разработаны много лет назад, не уделяя должного внимания новым тенденциям на рынке промышленной упаковки. Как показал многолетний опыт работы ООО «Борса», предпосылок будущего для развития у таких предприятий практически нет.
        br
        p Наше предприятие очень тесно работает с ведущими производителями оборудования и сырья и постоянно предлагает своему потребителю как новые виды продукции, так и возможность оптимизации и модернизации уже имеющихся видов упаковки.
        br
        p На сегодняшний день производственные мощности компании «Борса» базируются на нескольких производственных площадках с совокупной мощностью переработки до 20 тысяч тонн полимерного сырья в год. Это позволяет оптимизировать логистику поставок как сырья, так и готовой продукции по всей России и странам СНГ.
        p.small-info * В производственной лаборатории нашего предприятия на современном аттестованном оборудовании осуществляется непрерывный контроль и тестирование всей номенклатуры, что позволяет обеспечить требования стандарта Европейской Ассоциации производителей МКР EFIBCA
  .container
    h3.h3.h3-slider Производственная площадка ООО "Борса"