section.production-content-wrapper
  .white-bg
    .container
      p.breadcrambs Главная / Производство
      h1.breadcrambs-h1 Производство
  .gray-bg
    .container
      .subheader ООО «Борса» – Это современное производство полимерной продукции полного цикла. Мы изготавливаем полипропиленовые мешки, мягкие контейнеры, полиэтиленовую пленку — самые востребованные типы упаковки.
      .img-2-wrapper
        .img(style="background-image:url('img/prodaction1.jpg')")
        .img(style="background-image:url('img/prodaction2.jpg')")
      h3.h3 Этапы производства, которые реализованы на производственных площадках:
      .two-ul
        .ul-left.ul-both
          ul
            li растарка сырья;
            li подготовка и смешение сырья до требуемых параметров переработки;
            li производство ПП/ПЭ нити;
            li производство ПП/ПЭ ткани;
            li производство стропной ленты;
            li производство швейной нити;
            li производство полимерного шнура;
            li ламинирование ПП/ПЭ ткани;
            li раскрой и комплектовка полуфабрикатов;
            li нанесение флексографической печати;
        .ul-right.ul-both
          ul
            li производство рукавной пленки;
            li сварка/формирование вкладыша;
            li пошив готового изделия;
            li упаковка готового изделия;
            li регрануляция технологических отходов.
      p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Blanditiis delectus assumenda doloribus rerum eveniet, libero corrupti labore sed aspernatur at!

