section.news-page-wrapper
  .container
    p.breadcrambs Главная / О компании / Новости
    h1.breadcrambs-h1 Новости и события
    .date-chose-wrapper
      select(name="date")
        option Год
        option Месяц
        option Все
    