- let newspagenewsitems = [['10', 'февраля 2019', 'Обзор XXIV международной специализированной торгово-промышленной выставки «MVC: Зерно-Комбикорма-Ветеринария-2019»', true], ['25', 'января 2019', 'Приглашаем Вас с 29 по 31 января на наш стенд В710 в павильоне 75 (зал В) на XXIV выставке «МVC: Зерно – Комбикорма – Ветеринария – 2019»', false], ['7', 'ноября 2018', 'Обзор международной выставки химической промышленности и науки «ХИМИЯ-2018»', true],['10', 'февраля 2019', 'Обзор XXIV международной специализированной торгово-промышленной выставки «MVC: Зерно-Комбикорма-Ветеринария-2019»', true], ['25', 'января 2019', 'Приглашаем Вас с 29 по 31 января на наш стенд В710 в павильоне 75 (зал В) на XXIV выставке «МVC: Зерно – Комбикорма – Ветеринария – 2019»', false], ['7', 'ноября 2018', 'Обзор международной выставки химической промышленности и науки «ХИМИЯ-2018»', true],['10', 'февраля 2019', 'Обзор XXIV международной специализированной торгово-промышленной выставки «MVC: Зерно-Комбикорма-Ветеринария-2019»', true], ['25', 'января 2019', 'Приглашаем Вас с 29 по 31 января на наш стенд В710 в павильоне 75 (зал В) на XXIV выставке «МVC: Зерно – Комбикорма – Ветеринария – 2019»', false], ['7', 'ноября 2018', 'Обзор международной выставки химической промышленности и науки «ХИМИЯ-2018»', true]];

section.news-page-wrapper
  .container
    p.breadcrambs Главная / О компании / Новости
    h1.breadcrambs-h1 Новости и события
    .date-chose-wrapper
      select(name="date1")
        option(value="0") Год
        option(value="1") 2019
        option(value="2") 2018
      select(name="date2")
        option(value="0") Месяц
        option(value="1") Июль
        option(value="2") Август
      select(name="date3")
        option(value="0") Все
        option(value="1") Что
        option(value="2") Все
    button.btn-more.sort-mobile-btn Сортировать
  .container.news-wrpaper
    .news
      for item in newspagenewsitems
        a(href="#", title="title").news__item.clearfix
          .news__content
            .header
              .header__left=item[0]
                span=item[1]
              if item[3]
                .header__right
            .body Обзор XXIV международной специализированной торгово-промышленной выставки «MVC: Зерно-Комбикорма-Ветеринария-2019»
          .news__bg
    a(href="#", title="more").btn-more.more-news Показать больше новостей

.date-chose-wrapper-mobile-popup.dnone
  .container
    .date-chose-wrapper.date-chose-wrapper-mobile
      img(src="img/closesort.svg", alt="close")
      h4 Сортировать новости
      select(name="date1")
        option(value="0") Год
        option(value="1") 2019
        option(value="2") 2018
      select(name="date2")
        option(value="0") Месяц
        option(value="1") Июль
        option(value="2") Август
      select(name="date3")
        option(value="0") Все
        option(value="1") Что
        option(value="2") Все