section.news-one-page-wrapper
  .container
    p.breadcrambs Главная / О компании / Новости / Просмотр новости
    h1.breadcrambs-h1 Новости и события
  .one-news-wrapper
    .container
      .news-wrapper
        .back
          a(href="#", title="back to news")
            .img
            p Назад к новостям
        .content
          .date 10 февраля 2019
          h3.h3 Обзор XXIV международной специализированной торгово-промышленной выставки «MVC: Зерно-Комбикорма-Ветеринария-2019»
          .text-wrapper
            p 29-31 января 2019 года в павильоне ВДНХ состоялась XXIV международная специализированная торгово-промышленная выставка «MVC: Зерно-Комбикорма-Ветеринария-2019», где были представлены новейшая техника, технологии, продукция и услуги в агропромышленной сфере. Впервые выставка была проведена в 1996 году и более чем за 20 лет для многих специалистов отрасли стала традиционным местом встречи в начале года. С каждым годом выставка набирает обороты – растет площадь, количество стран, партнеров и участников. В этом году в выставке приняли участие 440 компаний из 28 стран и 41 региона России. Значение выставки для развития российского рынка растениеводства, зернопродуктов, комбикормов, ветеринарных препаратов, животноводства определило участие в ней ведущих российских и зарубежных фирм, работающих в этой сфере.
            br
            p Официальным партнером выставки выступила Московская торгово-промышленная палата. Выставку поддержали Комитет Государственной Думы РФ по аграрным вопросам, Комитет Совета Федерации по аграрно-продовольственной политике и природопользованию, Минсельхоз РФ, Россельхознадзор, Роспотребнадзор, ТПП РФ, Правительство Москвы, Деловая Россия, Опора России, Общественная палата РФ, Российский Зерновой Союз, Международная Федерация Кормовой промышленности (IFIF), Европейская Федерация Производителей Комбикормов (FEFAC), Союз комбикормщиков, Российская ветеринарная ассоциация, Ассоциация «Ветбезопасность», Ассоциация «Ветбиопром», Ассоциация «ГКО «Росрыбхоз», Союз предприятий зообизнеса, Национальный Союз свиноводов, Мясной Совет Единого Экономического Пространства, Всемирная научная ассоциация по птицеводству (WPSA), Росптицесоюз, Национальная ассоциация в области индеководческого хозяйства «Нациндейка», Союзроссахар. Информационную поддержку мероприятию оказали 12 зарубежных и 88 российских средств массовой информации.
            br
            p В тематике выставки были отражены важные направления в сфере растениеводства, животноводства и кормопроизводства. Многие актуальные вопросы были раскрыты в деловой программе. Так в рамках выставки состоялись Международный конгресс по кормам, Международная конференция «Гигиена и эпизоотическая безопасность свиноводческих предприятий», Международная конференция «Диагностика и профилактика болезней птиц в промышленном птицеводстве», Международная конференция «Актуальные ветеринарные аспекты молочного и мясного животноводства» и другие мероприятия.