- let mainpageitems = [['Строповые мягкие контейнеры', 'img/products/preview/1.jpg'], ['Ленточные мягкие контейнеры', 'img/products/preview/2.jpg'], ['Вентиляционные мягкие контейнеры (овощные)', 'img/products/preview/3.jpg'], ['Вагонный вкладыш', 'img/products/preview/4.jpg']];

section.products-whole-wrapper
  .container
    .section-header-wrapper
      h3 Наша продукция
      a(href="#", title="more").btn-more Вся продукция
        <svg width="10" height="20" viewBox="0 0 10 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0.656432 19.1095L1.84379 20L9.34375 10L1.84379 -6.55667e-07L0.656434 0.890519L7.4885 10L0.656432 19.1095Z" fill="#3ECC29"/></svg>
    .products-wrapper
      for item in mainpageitems
        a(href="#", title="product").product-item
          <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="15" cy="15" r="15" fill="#3ECC29"/><path d="M22.9471 14.6694H15.3306V7H14.6694V14.6694H7V15.3306H14.6694V23H15.3306V15.3306H23V14.6694H22.9471Z" fill="white"/></svg>
          .product-item__header=item[0]
          .product-item__image(style='background-image:url("' + item[1] + '")')
    a(href="#", title="more").btn-more.mobile Вся продукция
      <svg width="10" height="20" viewBox="0 0 10 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0.656432 19.1095L1.84379 20L9.34375 10L1.84379 -6.55667e-07L0.656434 0.890519L7.4885 10L0.656432 19.1095Z" fill="#3ECC29"/></svg>