section.contacts-page-wrapper
  .container
    p.breadcrambs Главная / Контакты
    h1.breadcrambs-h1 Контактная информация
  .contacts-wrapper.gray-bg
    .container
      .two-col-wrapper
        .left-part
          p
            span T:
            a(href="tel:+74957674527") +7 495 767 45 27
          p
            span T:
            a(href="tel:+89856049407") 8-985-604-94-07 (отдел продаж)
          p
            span E:
            a(href="mailto:sale@borsamsk.ru") sale@borsamsk.ru
          p
            span с 9 до 21:00 (без обеда и выходных)
        .right-part
          p
            span Общество с ограниченной ответственностью "Борса" ИНН/КПП:
            br
            span 7736305438/773601001 ОГРН: 1177746536890
          p
            span Фактический адрес:
            br
            a(href="https://goo.gl/maps/g1zpUZMFSbN2", title="google map" target="_blank") Калужская область, г. Боровск, ул. Урицкого, 30
          p
            span Юридический адрес:
            br
            a(href="https://goo.gl/maps/WYzQ4mV3P972", title="google map" target="_blank") 119331 Москва, Проспект Вернадского 29
          p
            span Почтовый адрес:
            br
            a(href="https://goo.gl/maps/WYzQ4mV3P972", title="google map" target="_blank") 119331 Москва, Проспект Вернадского 29
  include _21-contacts-page-form