.form-wrapper
  .container
    h3.h3 Отправьте сообщение с вопросом или предложением о сотрудничестве
    form
      .inputs-wrapper
        input(type="text", name="name", placeholder="Ваше имя", required="true")
        input(type="email", name="name", placeholder="Ваш E-mail", required="true")
        input(type="text", name="name", placeholder="+7 (___)___-__-__", required="true").phone-mask
      textarea(name="message", placeholder="Сообщение", required="true")
      footer.form-footer
        .checkbox-wrapper
          label
            input(type="checkbox").checkbox
            span.checkbox-custom
            span.label Я принимаю 
              a(href="#", title="title", target="_blank") условия передачи информации
        button(type="submit").btn-more Отправить сообщение
