section.popup-wrapper.dnone
  .container
    .content-wrapper.clearfix
      img(src="img/closesort.svg", alt="close").close
      img(src="img/advantages/mail.svg", alt="mail").mail
      h4 Спасибо большое!
      p Ваше сообщение успешно отправлено. В скором времени наши менеджеры свяжутся с вами для обсуждения всех дополнительных вопросов. Хорошего вам дня!