section.delivery-page-wrapper
  .container
    p.breadcrambs Главная / Доставка
    h1.breadcrambs-h1 Доставка продукции
  .contacts-wrapper.gray-bg
    .container
      .subheader Отгрузка продукции покупателю может быть реализована следующими способами:
      .content-wrapper
        ul
          li Самовывозом
          li Ж/д транспортом (В числе наших партнеров крупнейшая логистическая компания предоставляющая крытые вагоны – ОАО «Первая Грузовая компания»)
          li Транспортными компаниями по выбору заказчика
          li Наемным автотранспортом. Мы работаем исключительно с надежными транспортными компаниями, имеющими в т.ч. и собственный автотранспорт и продолжительный опыт работы на рынке грузоперевозок. Благодаря этому мы в состоянии максимально оперативно решить любую, даже самую сложную, задачу по организации доставки товара.
        p <span>*</span> Условия поставки в части способа отгрузки и отнесения транспортных расходов оговариваются при заключении договора на поставку продукции.