section.job-page-wrapper
  .container
    p.breadcrambs
      a(href="#", title="title") Главная 
      span / 
      a(href="#", title="title") Карьера
    h1.breadcrambs-h1 Работа в компании
  .job-wrapper.gray-bg
    .container
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero rem fuga optio. Quidem odio modi, similique cum officia fuga, dolor praesentium soluta, eligendi sunt in. Non unde, est blanditiis nam, iusto dicta voluptatum laudantium distinctio inventore fugit commodi exercitationem fugiat quasi. Possimus numquam animi accusamus rerum sed fuga pariatur ut.