section.job-page-wrapper
  .container
    p.breadcrambs
      a(href="#", title="title") Главная 
      span / 
      a(href="#", title="title") Карьера
    h1.breadcrambs-h1 Работа в компании
  .job-wrapper.gray-bg
    .container
      .subheader Приглашаем на работу квалифицированных специалистов и даем все возможности для применения таланта.
      .content-wrapper
        a(href="#", title="job", target="_blank") Машинист экструдера
          img(src="img/hh.jpg", alt="hh")
        a(href="#", title="job", target="_blank") Помощник машиниста экструдера
          img(src="img/hh.jpg", alt="hh")
        a(href="#", title="job", target="_blank") Ткач
          img(src="img/hh.jpg", alt="hh")
        a(href="#", title="job", target="_blank") Швея
          img(src="img/hh.jpg", alt="hh")
        a(href="#", title="job", target="_blank") Контролер ОТК
          img(src="img/hh.jpg", alt="hh")
        a(href="#", title="job", target="_blank") Мастер-печатник
          img(src="img/hh.jpg", alt="hh")