section.map-page-wrapper
  .container
    p.breadcrambs
      a(href="#", title="title") Главная
      span / 
      a(href="#", title="title") Карта сайта
    h1.breadcrambs-h1 Карта сайта
  .map-wrapper.gray-bg
    .container
      .content-wrapper
        ul
          li 
            a(href="#", title="link of the map") Главная
          li 
            a(href="#", title="link of the map") О компании
          li 
            a(href="#", title="link of the map") Производство
          li 
            a(href="#", title="link of the map") Продукция
            ul
              li
                a(href="#", title="link of the map") Строповые мягкие контейнеры
              li
                a(href="#", title="link of the map") Ленточные мягкие контейнеры
              li
                a(href="#", title="link of the map") Вентиляционные мягкие контейнеры (овощные)
        ul
          li
            a(href="#", title="link of the map") Доставка
          li
            a(href="#", title="link of the map") Контроль качества
          li
            a(href="#", title="link of the map") Новости