section.control-page-wrapper
  .container
    p.breadcrambs
      a(href="#", title="title") Главная
      span / 
      a(href="#", title="title") Контроль качества
    h1.breadcrambs-h1 Контроль качества выпускаемой продукции
  .control-wrapper.gray-bg
    .container
      .subheader В нашей лаборатории мы тестируем сырьё и готовую продукцию
      .content-wrapper
        p.first-p В испытательной лаборатории нашего предприятия на современном аттестованном оборудовании осуществляется непрерывный контроль и тестирование всей номенклатуры сырья, нитей , пленки и готовой продукции что позволяет обеспечить требования международного стандарта <span>ISO 21898:2004</span>.
        .inside-content-wrapper
          img(src="img/advantages/machinery.svg", alt="machinery")
          p Мы всегда предавали большое значение качеству выпускаемой продукции. Как показал опыт предыдущих лет развития упаковочной продукции - достижение высокого качества мягких контейнеров возможно только там, где используются передовые технологии.
          ul
            li Мягкие пропиленовые контейнеры нашего производства изготовлены в соответствии международным стандартом качества <span>ISO 21898</span>
            li Высокий уровень качества продукции «Борса» подтвержден сертификатами  соответствия в системе сертификации <span>ГОСТ Р ГОССТАНДАРТА России</span>, а также сертификатами соответствия МКР требованиям международных и национальных регламентов по перевозке опасных грузов. Выпуск продукции осуществляется согласно техническим условиям, зарегистрированным в Госреестре.