- let mainpagenewsitems = [['10', 'февраля 2019', 'Обзор XXIV международной специализированной торгово-промышленной выставки «MVC: Зерно-Комбикорма-Ветеринария-2019»', true], ['25', 'января 2019', 'Приглашаем Вас с 29 по 31 января на наш стенд В710 в павильоне 75 (зал В) на XXIV выставке «МVC: Зерно – Комбикорма – Ветеринария – 2019»', false], ['7', 'ноября 2018', 'Обзор международной выставки химической промышленности и науки «ХИМИЯ-2018»', true]];

section.news-wrapper
  .container
    .section-header-wrapper
      h3 Новости и события
      a(href="#", title="more").btn-more Все новости
        <svg width="10" height="20" viewBox="0 0 10 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0.656432 19.1095L1.84379 20L9.34375 10L1.84379 -6.55667e-07L0.656434 0.890519L7.4885 10L0.656432 19.1095Z" fill="#3ECC29"/></svg>
    .news
      for item in mainpagenewsitems
        a(href="#", title="title").news__item.clearfix
          .news__content
            .header
              .header__left=item[0]
                span=item[1]
              if item[3]
                .header__right
            .body Обзор XXIV международной специализированной торгово-промышленной выставки «MVC: Зерно-Комбикорма-Ветеринария-2019»
          .news__bg