section.connect-wrapper
  .container
    h3 70 компаний успешно сотрудничают с нами.<br> Присоединяйтесь!
  .questions
    .container
      .left-part
        .left-part__one
          <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="25" cy="25" r="24.5" stroke="white"/><path d="M23.1563 26.8431C25.5314 29.2182 28.2818 31.4886 29.3687 30.4014C30.9254 28.845 31.8851 27.4893 35.3162 30.2469C38.7476 33.0057 36.1121 34.8438 34.6043 36.3522C32.8643 38.0919 26.378 36.4437 19.9667 30.0333C13.5563 23.6214 11.9069 17.1351 13.6481 15.3945C15.1562 13.8864 16.9943 11.2518 19.7519 14.6835C22.5101 18.1137 21.155 19.0737 19.598 20.6304C18.5114 21.7176 20.7812 24.4677 23.1563 26.8431Z" fill="white"/></svg>
          h6 Остались вопросы?
        .left-part__two
          p Наши менеджеры помогут вам разобраться
      form
        input(type="text", name="phone", placeholder="Телефон")
        button.btn Перезвоните мне