- let productsadvantage = [['Безопасность', 'img/advantages/security.svg', 'При производстве не используются вредные для здоровья вещества и химические соединения'], ['Вместительность', 'img/advantages/spaciousness.svg', 'В один мешок помещается до 2,5 тонн цемента, песка и других строительных материалов.'], ['Долговечность', 'img/advantages/durability.svg', 'Такие контейнеры можно применять до 20 раз. Средний срок службы биг бэга — 7 лет.'], ['Доступная стоимость', 'img/advantages/price.svg', 'Цена одного биг бэга —140 рублей, что на 30 % выгоднее фанерных или картонных коробок'], ['Экономия', 'img/advantages/saving.svg', 'При доставке груза потребителю исключаются потери товара — биг бэги прочные и надежные'], ['Транспортировка', 'img/advantages/transportation.svg', 'Груз в мягких контейнерах можно перевозить в открытом транспорте — они не пропускают влагу']];

section.products-page-advantages
  .container
    h2 Приемущества контейнеров
    .advantages
        for item in productsadvantage
          .advantage
            .advantage__img(style="background-image:url('" + item[1] +"')")
            .advantage__header=item[0]
            .advantage__body=item[2]