section.product-page-product-wrapper
  .container
    p.breadcrambs Главная / Продукция / Строповые мягкие контейнеры / Двухстропные мягкие контейнеры
    h1.breadcrambs-h1 Двухстропные мягкие контейнеры
    .product-description-wrapper
      .slider-wrapper
        .slick-product-slider
          .slide(style="background-image: url('img/bags/bag1.jpg')")
          .slide(style="background-image: url('img/bags/bag1.jpg')")
          .slide(style="background-image: url('img/bags/bag1.jpg')")
          .slide(style="background-image: url('img/bags/bag1.jpg')")
        .slick-btns-wrapper
      .info-wrapper
        h3 Основные варианты исполнения:
        ul#types
          li.active Открытый верх. Низ глухой
          li С нижним люком
          li Со сборкой и нижним люком
          li Со сборкой
        .pc-desc-wrapper
          h3 Описание продукта:
          .producr-description
            p На протяжении последних двадцати лет мягкие контейнеры повседневно используются для хранения и транспортировки сыпучих грузов. Во всех странах они получили широкое применение на многих производствах аграрной, химической, строительной и других отраслях.
            p МКР могут транспортироваться на всех типах транспорта: автотранспорт, ж/д вагоны, ж/д и морские контейнеры.
            p Данная упаковка является самой экономичной для насыпных продуктов. 
            p Биг бэг представляет собой надежный мешок с грузоподъемными элементами в виде строп. Полипропиленовая ткань содержит УФ-стабилизатор, который препятствует ее разрушению от прямых солнечных лучей. Возможна перевозка в открытых фургонах и полувагонах благодаря наличию герметичного полиэтиленового вкладыша, который полностью исключает попадание внутрь влаги.
            p Прочностные характеристики сохраняются при температурном режиме от минус 20 до плюс 60ºС.
            p В состав не входят вредные для здоровья вещества.
          .give-info-wrapper
            <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12.9018 0C6.2753 0 0.902344 5.37295 0.902344 11.9995C0.902344 18.626 6.2753 24 12.9018 24C19.5284 24 24.9023 18.626 24.9023 11.9995C24.9023 5.37295 19.5284 0 12.9018 0ZM15.3999 18.5976C14.7822 18.8414 14.2905 19.0263 13.9218 19.1543C13.554 19.2823 13.1263 19.3463 12.6397 19.3463C11.8921 19.3463 11.31 19.1634 10.8955 18.7987C10.481 18.434 10.2748 17.9718 10.2748 17.41C10.2748 17.1916 10.29 16.9681 10.3205 16.7406C10.352 16.513 10.4018 16.257 10.4698 15.9695L11.2429 13.2389C11.311 12.9768 11.3699 12.7279 11.4166 12.4963C11.4634 12.2626 11.4857 12.0483 11.4857 11.8532C11.4857 11.5058 11.4136 11.262 11.2703 11.1248C11.1251 10.9877 10.8518 10.9206 10.4444 10.9206C10.2453 10.9206 10.0401 10.9501 9.82984 11.0121C9.62158 11.0761 9.44076 11.134 9.29244 11.1909L9.49663 10.3497C10.0025 10.1435 10.4871 9.96673 10.9493 9.82045C11.4116 9.67213 11.8484 9.59898 12.2598 9.59898C13.0024 9.59898 13.5754 9.77981 13.9787 10.1374C14.3799 10.496 14.5821 10.9623 14.5821 11.5352C14.5821 11.6541 14.5679 11.8634 14.5404 12.162C14.513 12.4617 14.4612 12.735 14.386 12.9859L13.617 15.7084C13.554 15.9269 13.4982 16.1768 13.4474 16.4561C13.3976 16.7355 13.3732 16.9488 13.3732 17.0921C13.3732 17.4537 13.4535 17.7006 13.616 17.8316C13.7765 17.9627 14.0579 18.0287 14.4561 18.0287C14.6441 18.0287 14.8543 17.9952 15.0921 17.9302C15.3277 17.8651 15.4984 17.8072 15.6061 17.7575L15.3999 18.5976ZM15.2637 7.54692C14.9051 7.88013 14.4734 8.04673 13.9685 8.04673C13.4646 8.04673 13.0298 7.88013 12.6682 7.54692C12.3086 7.21371 12.1267 6.80838 12.1267 6.33498C12.1267 5.8626 12.3096 5.45625 12.6682 5.12C13.0298 4.78273 13.4646 4.61511 13.9685 4.61511C14.4734 4.61511 14.9062 4.78273 15.2637 5.12C15.6223 5.45625 15.8022 5.8626 15.8022 6.33498C15.8022 6.8094 15.6223 7.21371 15.2637 7.54692Z" fill="black"/></svg>
            p Мягкие контейнеры сертифицированы Госстандартом и Минтрансом РФ, соответствуют Международному стандарту ISO 21898-2004 и Требованиям ООН к перевозке опасных грузов.
    .mobile-desc-wrapper
      h3 Описание продукта:
      .producr-description
        p На протяжении последних двадцати лет мягкие контейнеры повседневно используются для хранения и транспортировки сыпучих грузов. Во всех странах они получили широкое применение на многих производствах аграрной, химической, строительной и других отраслях.
        p МКР могут транспортироваться на всех типах транспорта: автотранспорт, ж/д вагоны, ж/д и морские контейнеры.
        p Данная упаковка является самой экономичной для насыпных продуктов. 
        p Биг бэг представляет собой надежный мешок с грузоподъемными элементами в виде строп. Полипропиленовая ткань содержит УФ-стабилизатор, который препятствует ее разрушению от прямых солнечных лучей. Возможна перевозка в открытых фургонах и полувагонах благодаря наличию герметичного полиэтиленового вкладыша, который полностью исключает попадание внутрь влаги.
        p Прочностные характеристики сохраняются при температурном режиме от минус 20 до плюс 60ºС.
        p В состав не входят вредные для здоровья вещества.
      .give-info-wrapper
        <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12.9018 0C6.2753 0 0.902344 5.37295 0.902344 11.9995C0.902344 18.626 6.2753 24 12.9018 24C19.5284 24 24.9023 18.626 24.9023 11.9995C24.9023 5.37295 19.5284 0 12.9018 0ZM15.3999 18.5976C14.7822 18.8414 14.2905 19.0263 13.9218 19.1543C13.554 19.2823 13.1263 19.3463 12.6397 19.3463C11.8921 19.3463 11.31 19.1634 10.8955 18.7987C10.481 18.434 10.2748 17.9718 10.2748 17.41C10.2748 17.1916 10.29 16.9681 10.3205 16.7406C10.352 16.513 10.4018 16.257 10.4698 15.9695L11.2429 13.2389C11.311 12.9768 11.3699 12.7279 11.4166 12.4963C11.4634 12.2626 11.4857 12.0483 11.4857 11.8532C11.4857 11.5058 11.4136 11.262 11.2703 11.1248C11.1251 10.9877 10.8518 10.9206 10.4444 10.9206C10.2453 10.9206 10.0401 10.9501 9.82984 11.0121C9.62158 11.0761 9.44076 11.134 9.29244 11.1909L9.49663 10.3497C10.0025 10.1435 10.4871 9.96673 10.9493 9.82045C11.4116 9.67213 11.8484 9.59898 12.2598 9.59898C13.0024 9.59898 13.5754 9.77981 13.9787 10.1374C14.3799 10.496 14.5821 10.9623 14.5821 11.5352C14.5821 11.6541 14.5679 11.8634 14.5404 12.162C14.513 12.4617 14.4612 12.735 14.386 12.9859L13.617 15.7084C13.554 15.9269 13.4982 16.1768 13.4474 16.4561C13.3976 16.7355 13.3732 16.9488 13.3732 17.0921C13.3732 17.4537 13.4535 17.7006 13.616 17.8316C13.7765 17.9627 14.0579 18.0287 14.4561 18.0287C14.6441 18.0287 14.8543 17.9952 15.0921 17.9302C15.3277 17.8651 15.4984 17.8072 15.6061 17.7575L15.3999 18.5976ZM15.2637 7.54692C14.9051 7.88013 14.4734 8.04673 13.9685 8.04673C13.4646 8.04673 13.0298 7.88013 12.6682 7.54692C12.3086 7.21371 12.1267 6.80838 12.1267 6.33498C12.1267 5.8626 12.3096 5.45625 12.6682 5.12C13.0298 4.78273 13.4646 4.61511 13.9685 4.61511C14.4734 4.61511 14.9062 4.78273 15.2637 5.12C15.6223 5.45625 15.8022 5.8626 15.8022 6.33498C15.8022 6.8094 15.6223 7.21371 15.2637 7.54692Z" fill="black"/></svg>
        p Мягкие контейнеры сертифицированы Госстандартом и Минтрансом РФ, соответствуют Международному стандарту ISO 21898-2004 и Требованиям ООН к перевозке опасных грузов.
  .container
    hr


