---
title: About Borsa
bodyClass: bodyClass
outClass: outClass
headDescription: Borsa about us page
headKeywords: borsa, landing, bigbag, about, company
---
extends layouts/_layout
block content

  main
    include pages/_6-about-us-page-all
  
  // variable use example
  //- h1!= title

  // partial example
  //- include ./partials/_example

  // mixin example
  //- +icon('facebook')

  // variable set example
  //- - let list = ['text 1', 'text 2', 'text 3'];

  // loop example
  //- ul  
  //-   for item in list
  //-     li= item

//- h1.slider
//-   +hide-text