---
title: Borsa
bodyClass: bodyClass
outClass: outClass
headDescription: Borsa contacts page
headKeywords: borsa, landing, bigbag, contacts
---
extends layouts/_layout
block content

  main
    include pages/_20-contacts-page-contacts
    //- include pages/_21-contacts-page-form
    include pages/_22-contacts-page-map
    include pages/_22_2-contacts-page-popup
  
  // variable use example
  //- h1!= title

  // partial example
  //- include ./partials/_example

  // mixin example
  //- +icon('facebook')

  // variable set example
  //- - let list = ['text 1', 'text 2', 'text 3'];

  // loop example
  //- ul  
  //-   for item in list
  //-     li= item

//- h1.slider
//-   +hide-text