---
title: Borsa
bodyClass: bodyClass
outClass: outClass
headDescription: Borsa job page
headKeywords: borsa, landing, bigbag, job
---
extends layouts/_layout
block content

  main
    include pages/_24-job-page-jobs
    include pages/_25-job-page-slider
  
  // variable use example
  //- h1!= title

  // partial example
  //- include ./partials/_example

  // mixin example
  //- +icon('facebook')

  // variable set example
  //- - let list = ['text 1', 'text 2', 'text 3'];

  // loop example
  //- ul  
  //-   for item in list
  //-     li= item

//- h1.slider
//-   +hide-text