---
title: Borsa
bodyClass: bodyClass
outClass: outClass
---
extends layouts/_layout
block content

  main
    //slider start
    include pages/_1-main-page-1-slider
    //slider end
    include pages/_2-main-page-product-block
    include pages/_3-main-page-industry-block
    include pages/_4-main-page-news-block
    include pages/_5-main-page-connect-block
  
  // variable use example
  //- h1!= title

  // partial example
  //- include ./partials/_example

  // mixin example
  //- +icon('facebook')

  // variable set example
  //- - let list = ['text 1', 'text 2', 'text 3'];

  // loop example
  //- ul  
  //-   for item in list
  //-     li= item

//- h1.slider
//-   +hide-text