.about-us-wrapper
  padding-bottom: 115px
  background-color: $gray9
  +r(1024)
    padding-bottom: 100px
  +r(768)
    padding-bottom: 90px
  .text-container
    padding-left: 220px
    padding-right: 330px
    +textdesktop
    color: $black2
    +r(1024)
      +texttablet
      padding-left: 0
      padding-right: 210px
    +r(768)
      padding-right: 0
    +r(375)
      +textmobile
  ul
    padding-left: 110px
    +r(1024)
      padding-left: 84px
    +r(768)
      padding-left: 80px
    +r(375)
      padding-left: 40px
    li
      +maw(400)