.job-page-wrapper
  .breadcrambs-h1
    margin-bottom: 0
  .contacts-wrapper
    padding-top: 60px
    padding-bottom: 120px
    +r(1024)
      padding-bottom: 100px
    +r(375)
      padding-bottom: 60px
      padding-top: 40px