/* ============================================================================
 * START Slider
 * ============================================================================ */
.slider-wrapper
  position: relative
  .slick.slick-main
    margin-bottom: 0
    height: 640px
    // display: none
    opacity: 0
    +r(1024)
      height: 428px
    +r(768)
      height: 384px
    .slick__item-wrapper
      background: linear-gradient(0deg, rgba(0, 18, 9, 0.45), rgba(0, 18, 9, 0.45))
      height: 640px
      background-repeat: no-repeat 
      // background-size: cover
      background-position: center center
      background-size: 100% auto
      position: relative
      +r(1100)
        background-size: auto
      +r(1024)
        height: 428px
      +r(768)
        height: 384px
      &:before
        content: ''
        position: absolute
        left: 0
        top: 0
        right: 0
        bottom: 0
        background-image: linear-gradient(0deg, rgba(0, 18, 9, 0.45), rgba(0, 18, 9, 0.45))
  .container.dots
    width: 100%
    position: absolute
    left: 0
    bottom: 80px
    right: 0
    +r(1024)
      bottom: 60px
    +r(768)
      bottom: 50px
    +r(600)
      bottom: 60px
  .slick-dots
    width: auto
    // li
    //   button:before
    //     position: absolute
    //     background-color: #fff
    //     content: ''
    //     height: 9.33px
    //     width: 9.33px
    //     border-radius: 50px
    //     background-color: #fff
    //     left: 0
    //     top: 0
    //     +trans
    //   button:after
    //     position: absolute
    //     width: 15px
    //     height: 15px
    //     top: -2.7px
    //     left: -3px
    //     font-size: 6px
    //     line-height: 20px
    //     text-align: center
    //     opacity: .25
    //     background-color: transparent
    //     content: ''
    //     border-radius: 50px
    //     border: 1px solid #ffffff
    //     +trans
    // li.slick-active
    //   button:before
    //     background-color: $green1
    //   button:after
    //     opacity: 0.75
    //     border: 1px solid $green1
    //     top: -6px
    //     left: -6px
    //     width: 21px
    //     height: 21px
    .animsvgwrapper
      .progress
        transform: rotate(-90deg)
        height: 14px
        width: 14px
        margin-bottom: 3.5px
        +trans
      .progress__value
        stroke-dasharray: 339.292
        stroke-dashoffset: 339.292
        // animation: progress 2s infinite alternate
      @keyframes progress
        from
          stroke-dashoffset: 339.292
        to
          stroke-dashoffset: 0
  .slick-dots
    .slick-active
      .animsvgwrapper
        .progress
          transform: rotate(-90deg)
          height: 21px
          width: 21px
          margin-bottom: 0
        .progress__value
          stroke-dasharray: 339.292
          stroke-dashoffset: 339.292
          animation: progress 5s
        .progress__inside
          fill: #00BA3C
        @keyframes progress
          from
            stroke-dashoffset: 339.292
          to
            stroke-dashoffset: 0
  .slick__text
    position: absolute
    color: #fff
    +fm
    font-size: 60px
    +maw(840)
    margin-top: 160px
    +r(1024)
      font-size: 50px
      margin-top: 100px
      max-width: 90%
    +r(768)
      margin-top: 0px
    +r(600)
      margin-top: 100px
      font-size: 25px
  .slick.slick-main.slick-initialized
    // display: block
    opacity: 1
    transition: opacity .3s ease-out
/* ============================================================================
 * END Slider
 * ============================================================================ */
/* ============================================================================
 * START Common
 * ============================================================================ */
.section-header-wrapper
  display: flex
  justify-content: space-between
  align-items: center
  margin-bottom: 80px
  width: 100%
  +r(1024)
    margin-bottom: 60px
  +r(375)
    margin-bottom: 40px
  h3
    +fm
    font-size: 36px
    +r(1024)
      font-size: 30px
    +r(550)
      font-size: 20px
.btn-more
  background-color: $gray7
  display: flex
  align-items: center
  line-height: 50px
  padding: 0 20px
  +fs
  font-size: 14px
  +r(450)
    display: none
  svg
    margin-left: 20px
.btn-more.mobile
  position: relative
  display: none
  width: 227px
  margin-left: auto
  margin-right: auto
  justify-content: spase-between
  +r(450)
    display: flex
    margin-bottom: 40px
  svg
    position: absolute
    right: 20px
/* ============================================================================
 * END Common
 * ============================================================================ */

/* ============================================================================
 * START Product block
 * ============================================================================ */

/* ============================================================================
 * END Product block
 * ============================================================================ */
/* ============================================================================
 * START Industry block
 * ============================================================================ */
.industries-wrapper
  margin-bottom: 120px
  margin-top: 80px
  +r(1024)
    margin-bottom: 68px
  +r(786)
    margin-bottom: -20px
    margin-top: 60px
  +r(375)
    margin-bottom: -50px
    margin-top: 40px
  .container
    clear: both
    .right-part
      width: 880px
      float: right
      position: relative
      +r(1300)
        width: 710px
      +r(900)
        display: block
        width: 100%
      &:before
        content: url('../img/mainpagebag.png')
        position: absolute
        left: -480px
        top: -100px
        +r(1300)
          left: -380px
        +r(900)
          display: none
      h3
        +fm
        font-size: 36px
        line-height: 1.2
        margin-bottom: 120px
        +r(1024)
          font-size: 30px
        +r(375)
          font-size: 20px
        +r(504)
          margin-bottom: 60px
/* ============================================================================
 * END Industry block
 * ============================================================================ */
/* ============================================================================
 * START News block
 * ============================================================================ */
section.news-wrapper
  .container
    overflow: hidden
.news
  display: flex
  justify-content: flex-start
  flex-wrap: wrap
  margin: 0 -20px 80px
  // +r(1024)
  //   margin: 0 -20px 60px
  +r(904)
    justify-content: center
  +r(450)
    margin-bottom: 20px
  .mobile
    margin-top: 20px
  .news__item
    position: relative
    width: 400px
    height: 400px
    overflow: hidden
    border-radius: 3px
    background-color: $green2
    margin: 0 20px 40px
    padding: 40px
    +r(375)
      width: 335px
      height: 335px
      margin-bottom: 35px
  .news__content
    z-index: 1
    position: absolute
    padding-right: 20px
    left: 40px
    right: 20px
    top: 40px
    bottom: 40px
    color: #ffffff
    line-height: 1.2
    font-size: 18px
    &:after
      content: ''
      width: 60px
      height: 2px
      background-color: #fff
      position: absolute
      bottom: 0
      left: 0
    +r(768)
      font-size: 16px
    +r(375)
      font-size: 14px
    .header
      display: flex
      justify-content: space-between
      margin-bottom: 39px
      &__left
        +fm
        font-size: 48px
        +r(768)
          font-size: 40px
        span
          font-size: 14px
          display: block
          +r(768)
            font-size: 12px
      &__right
        background-image: url('../img/newsicon.svg')
        height: 28px
        width: 28px
  .news__bg
    height: 200px
    width: 200px
    background-color: $green4
    position: absolute
    bottom: 0
    left: 0
    z-index: 0
    +r(768)
      height: 170px
      width: 170px
    +r(375)
      height: 165px
      width: 165px
/* ============================================================================
 * END News block
 * ============================================================================ */
/* ============================================================================
 * START Connect block
 * ============================================================================ */
.connect-wrapper
  h3
    font-size: 36px
    line-height: 1.2
    text-align: center
    +fr
    margin-bottom: 119px
    +r(1024)
      margin-bottom: 100px
      font-size: 30px
    +r(375)
      font-size: 20px
  .questions
    background-color: $green1
    .container
      display: flex
      justify-content: space-between
      align-items: center
      color: #ffffff
      +r(800)
        flex-direction: column
      .left-part
        display: flex
        justify-content: space-between
        align-items: center
        flex-grow: 1
        +r(1140)
          flex-direction: column
          align-items: flex-start
        +r(800)
          align-items: center
        .left-part__one
          display: flex
          align-items: center
          flex-grow: 1
          svg
            margin: 15px 20px 15px 0
          h6
            +fr
            font-size: 24px
            +r(768)
              font-size: 20px
        .left-part__two
          p
            font-size: 16px
            +r(1140)
              margin-bottom: 30px
            +r(800)
              text-align: center
            +r(768)
              font-size: 14px
      form
        display: flex
        border-radius: 3px
        overflow: hidden
        margin-left: 5%
        +r(1140)
          margin-left: 0
        +r(800)
          margin-bottom: 40px
        input
          height: 40px
          text-indent: 30px
          +r(385)
            text-indent: 20px
        .btn
          background-color: #fff
          height: 40px
          padding-right: 30px
          color: $green1
          font-size: 15px
          line-height: 15px
          +r(385)
            padding-right: 20px
/* ============================================================================
 * END Connect block
 * ============================================================================ */

