/* ============================================================================
 * START Slider
 * ============================================================================ */

.slider-wrapper
  position: relative
  .slick.slick-main
    margin-bottom: 0
    height: 640px
    // display: none
    opacity: 0
    +r(1024)
      height: 428px
    +r(768)
      height: 384px
    .slick__item-wrapper
      background: linear-gradient(0deg, rgba(0, 18, 9, 0.45), rgba(0, 18, 9, 0.45))
      height: 640px
      background-repeat: no-repeat 
      background-size: cover
      position: relative
      +r(1024)
        height: 428px
      +r(768)
        height: 384px
      &:before
        content: ''
        position: absolute
        left: 0
        top: 0
        right: 0
        bottom: 0
        background-image: linear-gradient(0deg, rgba(0, 18, 9, 0.45), rgba(0, 18, 9, 0.45))
  .container.dots
    width: 100%
    position: absolute
    left: 0
    bottom: 80px
    right: 0
    +r(1024)
      bottom: 60px
    +r(768)
      bottom: 50px
    +r(600)
      bottom: 60px
  .slick-dots
    width: auto
    li
      button:before
        position: absolute
        background-color: #fff
        content: ''
        height: 9.33px
        width: 9.33px
        border-radius: 50px
        background-color: #fff
        left: 0
        top: 0
        +trans
      button:after
        content: ""
        position: absolute
        width: 15px
        height: 15px
        top: -2.7px
        left: -3px
        font-size: 6px
        line-height: 20px
        text-align: center
        opacity: .25
        background-color: transparent
        content: ''
        border-radius: 50px
        border: 1px solid #ffffff
        +trans
    li.slick-active
      button:before
        background-color: $green1
      button:after
        opacity: 0.75
        border: 1px solid $green1
        top: -6px
        left: -6px
        width: 21px
        height: 21px
  .slick__text
    position: absolute
    color: #fff
    +fm
    font-size: 60px
    +maw(840)
    margin-top: 160px
    +r(1024)
      font-size: 50px
      margin-top: 100px
      max-width: 90%
    +r(768)
      margin-top: 0px
    +r(600)
      margin-top: 100px
      font-size: 25px
  .slick.slick-main.slick-initialized
    // display: block
    opacity: 1
    transition: opacity .3s ease-out
/* ============================================================================
 * END Slider
 * ============================================================================ */
/* ============================================================================
 * START Common
 * ============================================================================ */
.section-header-wrapper
  display: flex
  justify-content: space-between
  align-items: center
  margin-bottom: 80px
  width: 100%
  +r(1024)
    margin-bottom: 60px
  +r(375)
    margin-bottom: 40px
  h3
    +fm
    font-size: 36px
    +r(1024)
      font-size: 30px
    +r(550)
      font-size: 20px
  .btn-more
    background-color: $gray7
    display: flex
    align-items: center
    line-height: 50px
    padding: 0 20px
    +fs
    font-size: 14px
    +r(450)
      display: none
    svg
      margin-left: 20px
/* ============================================================================
 * END Common
 * ============================================================================ */

/* ============================================================================
 * START Product block
 * ============================================================================ */

/* ============================================================================
 * END Product block
 * ============================================================================ */
/* ============================================================================
 * START Industry block
 * ============================================================================ */
.industries-wrapper
  margin-bottom: 120px
  +r(1024)
    margin-bottom: 68px
  +r(786)
    margin-bottom: -20px
  +r(375)
    margin-bottom: -50px
  .container
    clear: both
    .right-part
      width: 880px
      float: right
      position: relative
      +r(1300)
        width: 710px
      +r(900)
        display: block
        width: 100%
      &:before
        content: url('../img/mainpagebag.png')
        position: absolute
        left: -480px
        top: -100px
        +r(1300)
          left: -380px
        +r(900)
          display: none
      h3
        +fm
        font-size: 36px
        line-height: 1.2
        margin-bottom: 120px
        +r(1024)
          font-size: 30px
        +r(375)
          font-size: 20px
        +r(504)
          margin-bottom: 60px
/* ============================================================================
 * END Industry block
 * ============================================================================ */
/* ============================================================================
 * START News block
 * ============================================================================ */
.news
  display: flex
  justify-content: flex-start
  flex-wrap: wrap
  margin-left: -20px
  margin-right: -20px
  +r(1300)
    justify-content: center
  .news-item
    width: 400px
    height: 400px
    overflow: hidden
    border-radius: 3px
    background-color: $green2
    margin-bottom: 40px
    margin-right: 20px
    margin-left: 20px
    +r(375)
      width: 335px
      height: 335px
      margin-bottom: 35px
/* ============================================================================
 * END News block
 * ============================================================================ */
/* ============================================================================
 * START Connect block
 * ============================================================================ */
/* ============================================================================
 * END Connect block
 * ============================================================================ */

