.production-content-wrapper
  h1.breadcrambs-h1
    margin-bottom: 40px
    padding-bottom: 0
    +r(375)
      margin-bottom: 30px
  .subheader
    padding-top: 60px
    +r(375)
      padding-top: 30px
  h3.h3
    margin-left: 110px
    margin-right: 180px
    width: 660px
    +r(1300)
      margin-left: 40px
      margin-right: 40px
      width: 730px
    +r(900)
      margin-left: 0
      margin-right: 0
      width: 100%
  .two-ul
    padding-left: 180px
    padding-right: 180px
    display: flex
    justify-content: space-between
    +fr
    font-size: 18px
    line-height: 1.45
    margin-bottom: 50px
    +r(1300)
      padding-left: 80px
      padding-right: 40px
    +r(1024)
      margin-bottom: 16px
    +r(900)
      flex-direction: column
      padding-left: 87px
      padding-right: 0
    +r(768)
      flex-direction: column
      margin-bottom: 10px
    +r(500)
      padding-left: 0
    .ul-both
      width: 50%
      padding-left: 40px
      +r(900)
        width: 100%
  .text-wrapper
    font-size: 18px
    +fr
    color: $black2
    padding-bottom: 80px
    padding-left: 220px
    padding-right: 290px
    +r(1024)
      padding-bottom: 60px
      +texttablet
      padding-left: 43px
      padding-right: 166px
    +r(768)
      padding-left: 0
      padding-right: 0
    +r(375)
      +textmobile
    .small-info
      color: $gray2
      +fm
      font-size: 14px
      line-height: 1.45
      margin-top: 40px
      +r(1024)
        font-size: 13px
      +r(375)
        margin-top: 30px
  .h3-slider
    margin-bottom: 60px
    +r(1024)
      margin-bottom: 30px
  .run-slider-wrapper
    margin-bottom: 0px