/* ============================================================================
 * START Product
 * ============================================================================ */
.product-page-product-wrapper
  background-color: $gray9
  padding-bottom: 60px
  +r(1024)
    padding-bottom: 40px
  +r(768)
    padding-bottom: 60px
  +r(600)
    padding-bottom: 40px
  .container
    border-bottom: 1px solid $gray5
  .product-description-wrapper
    display: flex
    margin-bottom: 60px
    padding-left: 110px
    padding-right: 110px
    +r(1024)
      margin-bottom: 40px
      padding-left: 0
      padding-right: 0
    +r(768)
      margin-bottom: 60px
    +r(600)
      flex-direction: column
      margin-bottom: 40px
    .slider-wrapper
      +r(600)
        margin-bottom: 60px
      +r(375)
        margin-bottom: 40px
      .slick-product-slider
        width: 290px
        height: 390px
        overflow: hidden
        border: 1px solid $gray7
        border-radius: 7px
        +r(350)
          width: 100%
        .slide
          background-size: contain
          height: 390px
          width: 100%
          background-position: center center
      .slick-btns-wrapper
        margin-top: 60px
        height: 70px
        position: relative
        width: 288px
        +r(768)
          margin-top: 20px
        +r(375)
          width: 100%
        .slick-prev:before,
        .slick-next:before
          display: none
        .slick-prev,
        .slick-next
          height: 70px
          width: 70px
          background-color: $green1
          border-radius: 7px
        .slick-prev
          left: 40px
          &:after
            content: url('../img/slidericons/left-chevron.svg')
        .slick-next
          right: 40px
          &:after
            content: url('../img/slidericons/right-chevron.svg')
          &:before
            display: block
            content: ''
            position: absolute
            width: 1px
            height: 100%
            left: -34px
            top: 0
            background-color: $gray7
            +r(375)
              display: none
    .info-wrapper
      padding-left: 110px
      width: 100%
      +r(1024)
        padding-left: 40px
      +r(768)
        padding-left: 50px
      +r(600)
        padding-left: 0
  .pc-desc-wrapper
    +r(768)
      display: none
  ul
    margin-left: 42px
    margin-bottom: 40px
    +r(600)
      margin-bottom: 0
    li
      margin-bottom: 25px
      cursor: pointer
      +fm
      font-size: 18px
      line-height: 1.2
      +r(1024)
        font-size: 16px
        margin-bottom: 30px
      +r(375)
        font-size: 14px
      &:after
        border: 1px solid $gray5
      &:before
        display: none
    li.active
      color: $green1
      &:after
        border: 1px solid $green1
      &:before
        display: block
  h3
    +fm
    font-size: 24px
    line-height: 1.2
    margin-bottom: 30px
    +r(1024)
      font-size: 20px
    +r(768)
      margin-bottom: 35px
    +r(375)
      font-size: 18px
  .producr-description
    font-size: 18px
    +fr
    line-height: 1.2
    margin-bottom: 30px
    +r(1024)
      font-size: 16px
      margin-bottom: 40px
    +r(375)
      font-size: 14px
      margin-bottom: 30px
  .give-info-wrapper
    display: flex
    svg
      flex-grow: 1
      margin-right: 18px
      height: 24px
      width: 50px
    p
      +fm
      font-size: 14px
      line-height: 1.2
      color: $gray2
      +r(375)
        font-size: 13px
.mobile-desc-wrapper
  display: none
  margin-bottom: 60px
  +r(768)
    display: block
  +r(600)
    margin-bottom: 40px
/* ============================================================================
 * END Product
 * ============================================================================ */
/* ============================================================================
 * START Cntainers
 * ============================================================================ */
.product-page-containers-wrapper
  background-color: $gray9
  h3.h3
    margin-top: 0
    margin-bottom: 30px
  
/* ============================================================================
 * END Cntainers
 * ============================================================================ */
